body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fbe3a1;
  background-image: url('../img/fondo2.png'); 
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pantalla-inicio {
  text-align: center;
}
.logo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gorro-chef {
  width: 160px;
  height: 120px;
  background-image: url('../img/chef logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -76px; 
}

.logo h1 {
  font-size: 7em; 
  background-color: #6b4a1c; 
  color: white;
  padding: 40px 120px; 
  border-radius: 40px;
  display: inline-block;
}


.botones {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.btn {
  text-decoration: none;
  font-size: 2.5em; /* más grande */
  padding: 25px 80px; /* más alto y ancho */
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.jugar {
  background-color: #6b4a1c; 
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}

.reglas {
  background-color: #6b4a1c; 
  color: white;
}
