body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fbe3a1;
  background-image: url('../img/fondo2.png'); 
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.juego {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  box-sizing: border-box;
}

.jugadores {
  width: 90%;
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fbe3a1;
  border-radius: 40px;
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 40px; 
}


.jugador {
  width: 350px;
  height: 350px;
  background-color: #f5d28a;
  border-radius: 30px;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jugador h2 {
  background-color: #6b4a1c; 
  color: white;
  padding: 15px;
  border-radius: 15px;
  font-size: 1.8em;
}

.puntos {
  font-size: 4em;
  font-weight: bold;
  color: #6b4a1c; 
  background-color: #eac07a;
  padding: 20px;
  border-radius: 15px;
}

.versus {
  width: 350px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.versus span {
  font-size: 3em;
  font-weight: bold;
  color: #6b4a1c;
  margin-bottom: 20px;
}

.icono-chef {
  width: 120px;
  height: 120px;
  background-image: url('../img/chef\ logo.png'); 
  background-size: cover;
  background-position: center;
}

.boton-inicio {
  margin-top: 20px;
}

.boton-inicio a {
  text-decoration: none;
 background-color: #f5d28a;
  color: white;
  font-size: 2em;
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.boton-inicio a:hover {
  background-color: #6b4a1c; 
}

.boton-inicio a:hover {
  background-color: #6b4a1c; 
}

@media (max-width: 768px) {
  .vs-container {
    flex-direction: column;
    gap: 30px;
  }
  
  .player-card {
    width: 90%;
    max-width: 320px;
  }
  
  .vs-text {
    font-size: 48px;
  }
}